.container {
  padding: 0 2rem;
  background-image: url("../public/background.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.titleColor {
  color: cadetblue;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card {
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 400px; /* 300px for 3 in a row */
}

.imgPreview {
  width: 100%;
  border-radius: 10px;
}



.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.error {
  color: red;
  font-weight: bold;
  padding: 2rem;
  background-color: #fad0e0;
  border-radius: 5px;
}

.loading {
  width: 44vw;
  color: cadetblue;
  font-weight: bold;
  padding: 2rem;
  background-color: #e0f0fa;
  border-radius: 5px;
  height: 48px;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

.resizer {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-image: url("https://oaidalleapiprodscus.blob.core.windows.net/private/org-TbglXqRZmFmJa0prUGB9cDT6/user-a1bIs4mHwl7keUldbVULFln0/img-SK6ekX9o1SeFYW7gxBBGsZ33.png?st=2023-04-20T19%3A34%3A13Z&se=2023-04-20T21%3A34%3A13Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2023-04-20T17%3A07%3A06Z&ske=2023-04-21T17%3A07%3A06Z&sks=b&skv=2021-08-06&sig=wC%2BY/7CSe%2BTIU87/06fMGiEjDzrByriK7VSW2XpDGck%3D");
}

.resizer-handle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.tl {
  top: -4px;
  left: -4px;
}

.tr {
  top: -4px;
  right: -4px;
}

.bl {
  bottom: -4px;
  left: -4px;
}

.br {
  bottom: -4px;
  right: -4px;
}
